@font-face {
    font-family: 'KronaOne-Regular';
    src: url('fonts/KronaOne-Regular.ttf') format('truetype');
    font-style: normal;
}

#navbar-settings {
    background: linear-gradient(180deg, #8926BF 0%, #B153D7 100%) !important;
    padding: 10px 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

#fastdeli-font {
    font-family: 'KronaOne-Regular', sans-serif;
}

#btn-1 {
    background-image: linear-gradient(180deg, rgba(243, 117, 194, 1) 0%, rgba(177, 83, 215, 1) 100%);
    border: none;
    border-radius: 10px;
    height: 70px;
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
    transition: all 0.25s ease !important;
}

#btn-1:hover {
    background-image: linear-gradient(180deg, rgba(177, 83, 215, 1) 0%, rgba(243, 117, 194, 1) 100%) !important;
    transform: scale(1.1);
}

#btn-1:active {
    transform: scale(1.05);
}

#btn-2 {
    background-image: linear-gradient(180deg, rgba(91, 58, 201, 1) 0%, rgba(19, 32, 120, 1) 100%);
    border: none;
    border-radius: 10px;
    height: 70px;
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
    transition: all 0.25s ease;
}

#btn-2:hover {
    background-image: linear-gradient(180deg, rgba(19, 32, 120, 1) 0%, rgba(91, 58, 201, 1) 100%) !important;
    transform: scale(1.1);
}

#btn-2:active {
    transform: scale(1.05);
}

.custom-link {
    color: #ffffff !important;
    font-weight: 500;
    margin-right: 15px;
    transition: all 0.3s ease;
}

.custom-link:hover {
    color: #f1f1f1 !important;
    opacity: 0.8;
    transform: translateY(-1px);
}

.navbar-toggler {
    border-color: rgba(255,255,255,0.5);
}

.navbar-toggler-icon {
    filter: invert(1) grayscale(100%) brightness(200%);
}

.navbar-basket {
    transition: all 2s ease;
    z-index: 2;
}

.navbar-basket:hover {
    background-image: url('images/hovered_basket.png');
    z-index: 2;
}

.navbar-basket::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 65px;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1;
    opacity: 0;
}

.navbar-basket:hover::before {
    opacity: 1;
}

#banner {
    width: 100%;
    height: 645px;
    background: url("images/banner_background.png") no-repeat center center;
    background-size: cover;
    position: relative;
}

.custom-card {
    background-image: linear-gradient(180deg, #d9d9d9 0%, #b8b8b8 100%);
    aspect-ratio: 1/1;
    cursor: pointer;
}