#navbar-settings {
    background: linear-gradient(180deg, #8926BF 0%, #B153D7 100%);
<<<<<<< HEAD
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-set  {
    color: white;
=======
}

.navbar-nav {
    color: white;
    display: flex;
    align-items: center;
>>>>>>> 1b8557fd050f508a05d37f8eb39599f79a650435
}