@font-face {
    font-family: 'KronaOne-Regular';
    src: url('fonts/KronaOne-Regular.ttf') format('truetype');
    font-style: normal;
}

#fastdeli-font {
    background: linear-gradient(90deg, #00C2FF, #7F5FE9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

#titleH1 {
    background: linear-gradient(90deg, #00C2FF 0%,  #7F5FE9 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

#navbar-settings {
    background: linear-gradient(180deg, #8926BF 0%, #B153D7 100%) !important;
    padding: 10px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#fastdeli-font {
    font-family: 'KronaOne-Regular', sans-serif;
}

#btn-1 {
    background-image: linear-gradient(180deg, rgba(243, 117, 194, 1) 0%, rgba(177, 83, 215, 1) 100%);
    border: none;
    border-radius: 10px;
    height: 70px;
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
    transition: all 0.25s ease !important;
}

#btn-1:hover {
    background-image: linear-gradient(180deg, rgba(177, 83, 215, 1) 0%, rgba(243, 117, 194, 1) 100%) !important;
    transform: scale(1.1);
}

#btn-1:active {
    transform: scale(1.05);
}

#btn-2 {
    background-image: linear-gradient(180deg, rgba(91, 58, 201, 1) 0%, rgba(19, 32, 120, 1) 100%);
    border: none;
    border-radius: 10px;
    height: 70px;
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
    transition: all 0.25s ease;
}

#btn-2:hover {
    background-image: linear-gradient(180deg, rgba(19, 32, 120, 1) 0%, rgba(91, 58, 201, 1) 100%) !important;
    transform: scale(1.1);
}

#btn-2:active {
    transform: scale(1.05);
}

.custom-link {
    color: #ffffff !important;
    font-weight: 500;
    margin-right: 15px;
    transition: all 0.3s ease;
}

.custom-link:hover {
    color: #f1f1f1 !important;
    opacity: 0.8;
    transform: translateY(-1px);
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler-icon {
    filter: invert(1) grayscale(100%) brightness(200%);
}

.navbar-basket {
    transition: all 0.3s ease;
    z-index: 2;
    cursor: pointer;
}

#banner {
    width: 100%;
    height: 645px;
    background: url("images/banner_background.png") no-repeat center center;
    background-size: cover;
    position: relative;
}


@font-face {
    font-family: 'Asap-Card';
    src: url('fonts/Asap-VariableFont_wdth,wght.ttf') format('truetype');
    font-style: normal;
}

body {
    background-color: #ffffff;
}

.custom-card {
    background: linear-gradient(180deg, #fcfcfc 0%, #e2e2e2 100%);
    aspect-ratio: 1 / 1;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.custom-card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.custom-card span {
    font-family: 'Asap-Card', sans-serif !important;
    font-weight: 700;
    font-size: 1rem;
}

.product-image-wrapper {
    width: calc(100% - 20px);
    height: auto;
    max-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    aspect-ratio: 1 / 1;
}

.product-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.btn-purple {
    background-color: #9c4fd1;
    color: white;
    border: none;
    padding: 10px 40px;
    font-size: 1.1rem;
    transition: background-color 0.2s ease;
}

.btn-purple:hover {
    background-color: #833fae;
    color: white;
}